.game-title {
    font-size: 1.5em;
    /* text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: #000000;
  }
  
  #game-clock-div {
    width: 10em;
    display: block;
    margin-left: 2em;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.3em;
    color: #000000;
    background: #FFFFFF
    
  }

  #left-menu{ 
    background: #FFFF00
  }
  
  #game-score-div {
    width: 10em;
    display: block;
    margin-top: 1em;
    /* padding-right: -1.5em; */
    font-weight: bold;
    font-size: 1.3em;
    background: #FFFFFF;
    color: #000000 
    
  }
  
  #word-submit-confirm {
    display: block;
    margin-top: 1em;
  }
  
  #play-button {
    position: relative;
    margin-left: 2em;
    width: 52em;
    height: 100%;
    align-self: center;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    background: #FFFF00;
    color: #000000   
  }

  #final-answer-button {
    position: relative;
    margin-left: 2em;
    width: 52em;
    height: 100%;
    align-self: center;
    background: #FFFF00;
    color: #000000   
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  }
  
  #game-container {
    background: #FFFFFF;
    margin: 1em 1em 1em 2em;
    width: 52em;
    height: 32em;
    display: grid;
    grid-auto-rows: 5em;
    max-width: 52em;
    font-weight: bold;
    font-family: monospace;
    
  }
  
  .highlited {
    width: 2em;
    height: 2em;
    margin: 0.25em;
    background: #07bfb6;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-radius: .5em;
    transform: rotate(45deg);
  
  }
  
  #word-input-field {
    position: relative;
    margin: 1em 1em 1em 2em;
    width: 52em;
  }
  
  #left-container {
    float: left;
    width: 54em;
  }
  
  #right-container {
    min-width: 15em;
    max-width: 24em;
    float: left;
    margin-left: 2em;
    margin-top: 6.5em;
  }
  
  #footer {
    background-color: teal;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 10px;
  }
  
  #pusher {
    background-color: rgb(252, 252, 252);
  }

  #rules-icon { 
    color: #000000 
  }

  #top-score-icon { 
    color: #000000 
  }

  #volume-icon { 
    color: #000000 
  }
